img {
	background-size: cover;
	background-position: center;
	height: auto;
	width: 100%;
	background-repeat: no-repeat;

}

.container-fluid {
	padding: 0;
	max-height: 450px;
	position: relative;
	overflow: hidden;
}
