<div class="container-fluid" style="border-bottom: 1px solid #27AAE1">
	<app-map></app-map>
</div>
<div class="wrapper" style="background: #F1F2F2;height: 100%">
	<div class="container" style="background: white">
		<h4>Kontaktirajte Aerris</h4>
		<hr>
		<form (submit)="sendEmail(message)">
			<div class="row">
				<div class="col-sm-6">
					<md-input-container class="example-full-width">
						<input mdInput placeholder="Vase Ime " name="name" [(ngModel)]="message.name">
					</md-input-container>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<md-input-container class="example-full-width">
						<input mdInput placeholder="Vasa Email Adresa" name="email" [(ngModel)]="message.email">
					</md-input-container>
				</div>
				<div class="col-sm-6">
					<md-input-container class="example-full-width right">
						<input mdInput placeholder="Tema" name="subject" [(ngModel)]="message.subject">
					</md-input-container>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-12" style="text-align: center">
					<md-input-container class="full-width">
						<textarea mdInput mdAutosizeMinRows="6" placeholder="Poruka" id="description" name="message"
								  [(ngModel)]="message.message"></textarea>
					</md-input-container>
					<button md-raised-button>POŠALjI</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container-fluid" style="padding: 0;margin: 0;">
		<md-card class="example-card " style="background:#1B75BC;color:#F1F2F2">
			<md-card-header>
				<md-card-title style="font-size: 18px;font-weight: 300;">Zainteresovani ste ?</md-card-title>
			</md-card-header>
			<md-card-content>
				<p style="text-align: center;padding: 0 30%; font-weight: 300">
					Ukoliko zaista želite da jedan od novih,
					luksuznih Aerris apartmana bude vaš
					možete nas kontaktirati kako bi ste
					saznali više informacija kao i rezervisali vaš apartman.
				</p>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button>KONTAKTIRAJTE NAS</button>
			</md-card-actions>
		</md-card>
	</div>
	<div class="container-fluid san">
		<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
	</div>
</div>



