<div class="container-fluid">
	<img src="{{header}}">

	<div class="row header">
		<h4 class="header">Apartmani</h4>

		<p class="header">
			Fusce maximus diam et mauris condimentum eleifend.
			Donec malesuada quis mi ut faucibus.
			Cras gravida lectus felis,
			eu fermentum nunc aliquet id.
			Suspendisse cursus diam sit amet turpis tempor malesuada.
		</p>
	</div>
</div>

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<md-tab-group>
					<md-tab label="ARHITEKTURA">
						<h4 class="tab">Tehnologija i arhitektura</h4>

						<p class="arh">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Suspendisse mattis vel magna et porttitor. Phasellus lectus erat,
							convallis lacinia mauris in, dictum euismod orci. Praesent pulvinar
							pretium mauris vehicula vehicula. Aliquam eu pretium ante. Phasellus
							ornare erat ut erat pulvinar convallis. Aliquam erat volutpat. Maecenas
							rhoncus, sapien non luctus feugiat, nibh sapien pellentesque lectus, ut
							feugiat dui erat nec dui. Nunc sed dignissim lacus. Quisque dui massa,
							interdum sit amet euismod feugiat, interdum sit amet libero.
							Donec posuere, lorem eget lacinia posuere, nulla quam faucibus nisi,
							efficitur pulvinar nisl nisl ut turpis. Etiam risus arcu, feugiat non
							facilisis porttitor, hendrerit sed augue. Phasellus facilisis consequat
							diam, ut tristique felis eleifend non. Sed quis purus interdum, iaculis
							odio porta, suscipit nisl. Fusce vitae elit sed nulla pharetra pharetra
							quis ac odio. In nec enim condimentum tortor pharetra volutpat a ac libero.
							Nulla nibh odio, interdum quis hendrerit vel, rutrum non dui. Curabitur
							vitae lacinia urna. Aliquam ornare vestibulum diam, varius malesuada augue.
							Cras elit libero, viverra id tortor ac, pulvinar semper nisi.
							Sed cursus non ligula eget consequat. Duis pretium bibendum mi ut tempor.
							Nam hendrerit nulla vitae efficitur tempus.
							Ut posuere velit suscipit tellus dictum porta. Fusce elementum enim a
							luctus mattis. Integer erat enim, aliquam at ligula nec, consectetur
							dictum ipsum. Ut consequat neque a tellus dignissim condimentum.
							Nullam molestie vehicula est. Nunc dapibus euismod velit, ac varius
							erat varius lobortis. Integer ut elementum risus. Fusce sit amet
							lorem eget nibh ultrices vulputate. Sed id molestie odio, eget porttitor
							est.
							Suspendisse quis feugiat mauris, ut porta tellus. Proin eget lacus vel
							eros bibendum euismod. In faucibus ex ligula. Mauris vitae pulvinar diam.
							Nulla porttitor consequat rhoncus. Cras odio metus,
							laoreet sit amet leo sed, semper blandit nulla.
							Curabitur lectus risus, fringilla vitae felis ac
							, euismod viverra massa. Sed neque neque, sagittis
							vel accumsan vel, finibus et elit. Proin et laoreet
							massa. In ultrices mauris nec placerat finibus. Donec
							finibus quis tortor in dignissim. Vestibulum vel rhoncus leo.
							Proin vel auctor turpis, eget sagittis odio. Duis porttitor neque nec
							massa tempus pellentesque. Cras dolor mi, gravida a dolor nec,
							elementum dapibus enim. Pellentesque blandit, mi at interdum varius,
							orci eros commodo quam, non egestas metus purus a sem.
							Aenean nec ex felis. Duis sollicitudin vehicula purus, id consectetur
							libero vulputate id. Quisque et odio id turpis rhoncus pretium sed eget nisi.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
							himenaeos. Nulla ut viverra orci. Suspendisse non nulla magna. Vestibulum ante
							ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris
							semper ipsum non dolor efficitur, nec suscipit nibh sollicitudin. Nulla vitae
							suscipit nibh, sed viverra nibh. Pellentesque semper sapien ac turpis malesuada,
							vitae vehicula nibh tincidunt. Nam a enim a sapien rhoncus finibus at in ante.
							Curabitur in iaculis mi, nec efficitur quam. Proin egestas turpis tincidunt quam
							bibendum rhoncus. Phasellus tristique purus vel nulla ultricies, et viverra ipsum
							vulputate. Donec facilisis aliquam massa, vel ornare neque efficitur vel.
						</p>

						<div class="col-sm-6">
							<h4 class="mat">Materijali</h4>

							<p class="mater">
								Suspendisse quis feugiat mauris, ut porta tellus.
								Proin eget lacus vel eros bibendum euismod.
								In faucibus ex ligula. Mauris vitae pulvinar diam.
								Nulla porttitor consequat rhoncus. Cras odio metus,
								laoreet sit amet leo sed, semper blandit nulla.
								Curabitur lectus risus, fringilla
								vitae felis ac, euismod viverra massa.
								Sed neque neque, sagittis vel accumsan vel,
								finibus et elit.
							</p>

							<h4 class="pog">Pogodnosti Apartmana</h4>

							<ul>
								<li>
									<p class="icontxt"><img src="../../assets/photos/lift.png">Lift</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/prilagodjenozadecu.png">Prilagodjeno
										za decu</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Wifi.png">WiFi Internet</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Vesernica.png">Vešernica</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Garaza.png">Garaža</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Interfon.png">Interfon</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Video%20nadzor.png">Video nadzor
									</p>
								</li>
							</ul>
						</div>
					</md-tab>

					<md-tab label="DOSTUPNOST">
						<p class="dostup">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Suspendisse mattis vel magna et porttitor. Phasellus lectus erat,
							convallis lacinia mauris in, dictum euismod orci. Praesent pulvinar
							pretium mauris vehicula vehicula. Aliquam eu pretium ante. Phasellus
							ornare erat ut erat pulvinar convallis.
							<br><br>
							Donec posuere, lorem eget lacinia posuere,
							nulla quam faucibus nisi, efficitur pulvinar nisl
							nisl ut turpis. Etiam risus arcu, feugiat non facilisis porttitor,
							hendrerit sed augue. Phasellus facilisis consequat diam, ut tristique
							felis eleifend non. Sed quis purus interdum, iaculis odio porta, suscipit
							nisl. Fusce vitae elit sed nulla pharetra pharetra quis ac odio.
						</p>

						<table class="table table-hover">
							<thead>
							<tr>
								<th>Broj</th>
								<th>Sprat</th>
								<th>Kvadratura</th>
								<th>Stil</th>
								<th>Tip</th>
								<th>Pozicija</th>
								<th>Terasa</th>
								<th colspan="2">Dostupan</th>
							</tr>
							</thead>

							<tbody>
							<tr *ngFor="let apartman of apartmans" class="clickable"
								[routerLink]="apartman.id">
								<td scope="row">{{apartman.id}}</td>
								<td>{{apartman.floor}}</td>
								<td>{{apartman.area}}m²</td>
								<td>{{apartman.style}}</td>
								<td>{{apartman.type}}</td>
								<td>{{apartman.posittion}}</td>
								<td [className]="apartman.terace ? 'yes' : 'no'">{{apartman.terace ? 'Da' : 'Ne'}}</td>
								<td [className]="apartman.available ? 'yes' : 'no'">{{apartman.available ? 'Da' :
									'Ne'}}
								</td>
								<td><i class="fa fa-chevron-right"></i></td>
							</tr>
							</tbody>
						</table>
					</md-tab>
				</md-tab-group>
			</div>
		</div>
	</div>
	<div class="container-fluid"
		 style="padding: 0;margin: 0;height: auto">

		<md-card class="example-card"
				 style="background:#1B75BC;color:#F1F2F2">

			<md-card-header>
				<md-card-title style="font-size: 18px; font-weight: 300;">Zainteresovani ste ?</md-card-title>
			</md-card-header>

			<md-card-content>
				<p style="text-align: center; padding: 0 20%; font-weight: 300">
					Ukoliko zaista želite da jedan od novih,
					luksuznih Aerris apartmana bude vaš
					možete nas kontaktirati kako bi ste
					saznali više informacija kao i rezervisali vaš apartman.
				</p>
			</md-card-content>

			<md-card-actions>
				<button md-raised-button>KONTAKTIRAJTE NAS</button>
			</md-card-actions>
		</md-card>
	</div>

	<div class="container-fluid san">
		<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
	</div>
</div>


