<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<md-tab-group>
					<md-tab *ngFor="let tab of tabs" label="{{tab.title}}">
						<div class="row">
							<div class="col-sm-8">
								<p>
									{{tab.desctription}}
								</p>
								<button md-raised-button>{{tab.button}}</button>
							</div>
							<div class="col-sm-4" style="text-align: center">
								<img [src]="tab.image"
									 style="max-width: 100%;">
							</div>
						</div>

					</md-tab>
				</md-tab-group>
			</div>
			<div class="col sm-4">
				<md-tab-group style="text-align: center">
					<md-tab class="deg" label="360° Pregled apartmana">
						<p class="deg">
							Curabitur egestas, urna in condimentum pellentesque,
							augue tellus posuere odio, et tincidunt magna neque sit
							amet massa. Nullam at augue eget est congue hendrerit.
							Nunc iaculis odio mauris, in ultrices felis eleifend quis.
							Proin luctus augue at felis efficitur, vel sagittis arcu egestas.
						</p>
						<button md-raised-button>GALERIJA</button>
					</md-tab>
				</md-tab-group>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<md-card class="example-card ">
			<md-card-header>
				<md-card-title style="font-size: 18px;font-weight: 300">Zainteresovani ste ?</md-card-title>
			</md-card-header>
			<md-card-content>
				<p style="text-align: center;padding: 0 20%; font-weight: 300">
					Ukoliko zaista želite da jedan od novih,
					luksuznih Aerris apartmana bude vaš
					možete nas kontaktirati kako bi ste
					saznali više informacija kao i rezervisali vaš apartman.
				</p>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button>KONTAKTIRAJTE NAS</button>
			</md-card-actions>
		</md-card>
	</div>
	<div class="container-fluid san">
		<h4>Ostvarite Svoj San</h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img [src]="ski">
				<h4 class="icons">SKIJALISTE</h4>
				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
					Ipsum
					Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>
			<div class="col-md-4">
				<img [src]="lake">
				<h4 class="icons">JEZERO</h4>

				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
					Ipsum
					Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>
			<div class="col-md-4">
				<img [src]="airport">
				<h4 class="icons">AERODROM</h4>
				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
					Ipsum
					Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
			</div>
		</div>
	</div>
</div>
