
.container {
	position: relative;
	padding-bottom: 150px;
}

.mat-card {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	text-align: center;
}

button.mat-raised-button {
	background: #02A8F3;
	color: white;
	outline: none;
	margin: 0;
}

.mat-card > .mat-card-actions:last-child {
	margin: 0;
}

md-card-header {
	/deep/ {
		.mat-card-header-text {
			width: 100%;
			text-align: center;
		}

	}
}
