h4 {
	font-size: 17px;
	line-height: 48px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	display: table;
	white-space: nowrap;
	color: #F1F2F2;
	width: 100%;
	text-align: left;

}

.fh {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	display: table;
	white-space: nowrap;
	color: rgba(0, 0, 0, .87);
	width: 100%;
	text-align: right;
}

p {
	font-size: 14px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	text-align: left;
	font-weight: 300;
	margin: 0;
	padding-top: 14px;
	&.scroll {
		padding-left: 0;
		text-align: center;
		padding-top: 0;
		font-weight: 300;
	}
}

a:not([href]):not([tabindex]) {
	text-align: center;
}

.col-sm-4 {
	padding: 0 15px;

}

p {
	color: #CFD1D3;
	font-weight: 300;
	&.copy {
		font-size: 11px;
		line-height: 13px;
		padding-top: 15px;
	}
	&.powered {
		font-size: 11px;
		line-height: 13px;
		padding-top: 26px;
		padding-bottom: 15px;
		text-align: right;
	}
}

md-input-container {
	/deep/ {
		.md-input-container.ng-tns-c7-0.mat-focused {
			border-color: red;
		}
		.mat-input-wrapper {
			padding-left: 0;
		}
		.mat-input-underline {
			width: 100%;
			background: #CFD1D3;;
		}
		.mat-input-placeholder {
			color: #CFD1D3;
		}

	}
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: red; // Or the color you want
}

.mat-raised-button {
	background-color: #6D6E71;
	color: #F1F2F2;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
}

.container-fluid {
	background: #231F20;
	border-top: 10px solid #27AAE1;
	&.copy {
		border-top: none;
		background: #1A1717;
	}
}

.row {
	margin: 0;
	padding: 0;
}

img {
	max-height: 75px;
	max-width: 150px;
}

ul.nav {
	float: right;
	&.social {
		float: right;
		position: unset;
		padding-top: 20px;

	}
}

li.nav-item.social a.nav-link.disabled {
	padding: 8px 8px;

}

li.nav-item.social {
	float: none;
}

ul {
	color: #F1F2F2;
	font-weight: 300;
	padding: 15px 0 0 0;
}

.fa {
	font-size: 36px;
	color: #95989A;
	cursor: pointer;
	&.fa-google-plus-square:hover {
		color: #D34836;
	}
	&.fa-twitter-square:hover {
		color: #0084B4;
	}
	&.fa-facebook-square:hover {
		color: #3B5998;
	}
	&.fa-share-alt:hover {
		color: #27AAE1;
	}

}

.col-sm-2 {
	padding: 0 15px !important;
}

.col-sm-12.store {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex: 1;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0;
}

.col-sm-12.social {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	padding-top: 15px;
	padding-right: 0;
}

ul.footer {
	padding: 15px 0 15px 0px;
	list-style: none;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

a.footer {
	font-size: 14px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #95989A;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: #F1F2F2;
	}
}

a.nav-link.disabled {
	padding-left: 0;
}

.row.social {
	padding-left: 40px;
}

@media screen and (max-width: 768px) {
	.mat-raised-button {
		margin-left: 40px;
	}
	h4.f2 {
		text-align: center;
		font-size: 14px;
	}
	p {
		padding-top: 5px;
		text-align: center;
		padding-left: 5px;
		padding-bottom: 14px;
	}
	.fa {
		font-size: 36px;
	}
	h4 {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 14px;
	}

}

@media screen and (max-width: 768px) {
	.col-sm-6 {
		text-align: center;
	}
	ul.nav.social {
		padding-right: 0 !important;
	}
	.container-fluid {
		padding: 0 15px !important;
	}
	.col-sm-4 {
		text-align: center;
	}
	md-input-container.mat-input-container {
		display: block;
	}
	button.mat-raised-button {
		margin-left: 0;
	}
	.container {
		max-width: 100% !important;
	}
	.row {
		padding: 15px;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	ul.footer {
		width: 100px;
		column-count: 1;
	}
	h4 {
		padding-left: 0;
	}

	.col-sm-3.link {
		max-width: 100px;
	}
	.container-fluid {
		padding: 0 !important;
	}
	.fa {
		font-size: 24px;
	}
	.row.social {
		padding: 0;
		float: right;
	}
	.row.store {
		padding: 0;
	}

	.col-sm-12.social {
		margin-left: 80px;
	}
}

@media screen and (max-width: 576px) {
	ul.footer {
		column-count: 2;
		text-align: center;
		width: 100%;
	}
	.col-sm-3.link {
		max-width: 100%;
	}

	h4 {
		font-size: 18px;
		text-align: center !important;
	}

	.fa {
		font-size: 36px;
	}
	.row.social {
		width: 100%;
	}
	.col-sm-12.social {
		margin-left: 0;
	}
	ul {
		text-align: center;
	}
	a.footer {
		font-size: 14px;
	}
	.col-sm-3 {
		margin-top: 20px;
	}
	p.powered {
		text-align: center;
	}
}
