<div class="container-fluid" style="padding: 0">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Zelite da budete informisani?</h4>
				<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum
					Lorem Ipsum Lorem Ipsum bla bla bal
				</p>
				<md-input-container>
					<input mdInput placeholder="Email">
				</md-input-container>
				<button md-raised-button>PRIJAVITE SE</button>
			</div>
			<div class="col-sm-3 link">
				<h4>Aerris</h4>
				<ul class="footer">
					<li class="nav-item">
						<a class="footer" [routerLink]="['/']"> Naslovna</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/apartmani']">Apartmani</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/tehnologija']"> Tehnologija</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/plan']"> Plan Izgradnje</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/investitiori']"> Investitori</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/lokacija']"> Lokacija</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/galerija']"> Galerija</a>
					</li>
					<li class="nav-item">
						<a class="footer" [routerLink]="['/kontakt']">Kontakt</a>
					</li>

				</ul>
			</div>

			<div class="col-sm-2 ">
				<h4>Korisni Linkovi</h4>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="footer"> Naslovna</a>
					</li>
					<li class="nav-item">
						<a class="footer"> Naslovna</a>
					</li>
					<li class="nav-item">
						<a class="footer"> Naslovna</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4 style="padding-left: 15px;margin-bottom: 8px;text-align: right">Lokacije u Okolini</h4>
				<div class="row store">
					<div class="col-sm-12 store">
						<img
							src="../../../assets/photos/maxi-logo.png"
						>
						<img src="../../../assets/photos/idea-logo.png">
					</div>
				</div>
				<div class="row social">
					<div class="col-sm-12 social">
						<a class="nav-link disabled" disabled>
							<i class="fa fa-share-alt" aria-hidden="true"></i>
						</a>
						<a class="nav-link disabled" disabled>
							<i class="fa fa-google-plus-square" aria-hidden="true"></i>
						</a>
						<a class="nav-link disabled" disabled>
							<i class="fa fa-twitter-square" aria-hidden="true"></i>
						</a>
						<a class="nav-link disabled" disabled>
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid copy">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 ">
					<p class="copy">&copy;Copyright BN Inzinjering DOO, 2017 <br> Sva Prava su zadrzana</p>
				</div>
				<div class="col-sm-6">
					<p class="powered">Powered by Limit Company</p>
				</div>
			</div>
		</div>
	</div>
